<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seismic Activity Monitoring</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div id="logo">LOGO</div>
        <h1>Seismic activity monitoring</h1>
    </header>
    <nav>
        <a href="/signal_monitor">Signal monitor</a>
        <a href="/map">Map</a>
        <a href="/system_settings">System settings</a>
        <a href="/docs">Docs</a>
    </nav>
    <main>
        <p>Welcome to the Seismic Activity Monitoring System. Please select a tab to continue.</p>
    </main>
</body>
</html>
