<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
</head>
<body>
    <header>
        <div id="logo">LOGO</div>
        <h1>Seismic activity monitoring</h1>
    </header>
    <nav>
        <a href="/signal_monitor">Signal monitor</a>
        <a href="/map" class="active">Map</a>
        <a href="/system_settings">System settings</a>
        <a href="/docs">Docs</a>
    </nav>
    <main class="map-main">
        <div class="device-attributes">
            <table id="deviceTable" class="deviceTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Status</th>
                        <th>Last event time</th>
                        <th>Threshold</th>
                        <th>Lon</th>
                        <th>Lat</th>
                    </tr>
                </thead>
                <tbody>
                    {% for device in devices %}
                    <tr>
                        <td>{{ device.device_id }}</td>
                        <td>{{ device.status }}</td>
                        <td>{{ device.last_event_time }}</td>
                        <td>{{ device.threshold }}</td>
                        <td>{{ device.lon }}</td>
                        <td>{{ device.lat }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="map" class="system-map"></div>

        <div class="event-logs">
            <table>
                <thead>
                    <tr>
                        <th>Event ID</th>
                        <th>Devices</th>
                        <th>Start time</th>
                        <th>End time</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for log in logs %}
                    <tr>
                        <td>{{ log.event_id }}</td>
                        <td>{{ log.devices }}</td>
                        <td>{{ log.start_time }}</td>
                        <td>{{ log.end_time }}</td>
                        <td>{{ log.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="metrics-map-block">Metrics map block 1</div>
        <div class="metrics-map-block">Metrics map block 2</div>
    </main>
    <script>
        const socket = io();

        const map = L.map('map').setView([55.0084, 82.9357], 10); // Centered on Novosibirsk

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 18,
        }).addTo(map);

        const devices = {{ devices | tojson }};
        const deviceTable = document.getElementById('deviceTable').getElementsByTagName('tbody')[0];

        devices.forEach(device => {
            L.marker([device.gps_lat, device.gps_lon]).addTo(map)
                .bindPopup(`Device ${device.device_id}`)
                .openPopup();
        //
        //     const row = deviceTable.insertRow();
        //     row.insertCell(0).innerText = device.device_id;
        //     row.insertCell(1).innerText = device.status;
        //     row.insertCell(2).innerText = device.last_event_time;
        //     row.insertCell(3).innerText = device.threshold;
        //     row.insertCell(4).innerText = device.lon;
        //     row.insertCell(5).innerText = device.lat;
        });

        socket.on('new_device', (device) => {
            L.marker([device.gps_lat, device.gps_lon]).addTo(map)
                .bindPopup(`Device ${device.device_id}`)
                .openPopup();

            const row = deviceTable.insertRow();
            row.insertCell(0).innerText = device.device_id;
            row.insertCell(1).innerText = device.status;
            row.insertCell(2).innerText = device.last_event_time;
            row.insertCell(3).innerText = device.threshold;
            row.insertCell(4).innerText = device.gps_lon;
            row.insertCell(5).innerText = device.gps_lat;
        });
    </script>
</body>
</html>
