<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signal Monitor</title> <!-- Structure can use rewrriting, this code duplication makes modifying harder -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script> <!-- can it be placed in the body? -->
</head>
<body>
    <header>
        <div id="logo">LOGO</div>
        <h1>Seismic activity monitoring</h1>
    </header>
    <nav>
        <a href="/signal_monitor" class="active">Signal monitor</a>
        <a href="/map">Map</a>
        <a href="/system_settings">System settings</a>
        <a href="/docs">Docs</a>
    </nav>
    <main class="signal-monitor-main">
        <div class="config-block">
            <label for="deviceSelect">Select Device:</label>
            <select id="deviceSelect">
                {% for device in devices %}
                    <option value="{{ device.device_id }}">Device {{ device.device_id }}</option>
                {% endfor %}
            </select>
            <button id="selectDeviceBtn">Select Device</button>
            <div class="input-group">
                <label for="lpf">LPF:</label>
                <input type="number" id="lpf">
                <label for="hpf">HPF:</label>
                <input type="number" id="hpf">
                <label for="threshold">Threshold:</label>
                <input type="number" id="threshold">
            </div>
            <button id="updateConfigBtn">Update Configuration</button>
        </div>
        <div class="signal-block">
            <canvas id="signalCanvas1"></canvas>
            <canvas id="signalCanvas2"></canvas>
            <canvas id="signalCanvas3"></canvas>
        </div>
        <div class="signal-spectrogram-block">
<!--            <canvas id="spectrogramCanvas1"></canvas>-->
<!--            <canvas id="spectrogramCanvas2"></canvas>-->
<!--            <canvas id="spectrogramCanvas3"></canvas>-->
        </div>
        <div class="metrics-block">Metrics block 1</div>
        <div class="metrics-block">Metrics block 2</div>
        <div class="metrics-block">Metrics block 3</div>
    </main>
    <script>
        const socket = io();

        let selectedDeviceId = null;

        document.getElementById('selectDeviceBtn').addEventListener('click', () => {
            selectedDeviceId = document.getElementById('deviceSelect').value;
            socket.emit('select_device', { device_id: selectedDeviceId });
        });

        document.getElementById('updateConfigBtn').addEventListener('click', () => {
            if (selectedDeviceId !== null) {
                const lpf = document.getElementById('lpf').value;
                const hpf = document.getElementById('hpf').value;
                const threshold = document.getElementById('threshold').value;
                socket.emit('update_device_config', {
                    device_id: selectedDeviceId,
                    lpf: parseFloat(lpf),
                    hpf: parseFloat(hpf),
                    threshold: parseFloat(threshold)
                }); 
            }
        });

        socket.on('device_config', (data) => {
            document.getElementById('lpf').value = data.lpf;
            document.getElementById('hpf').value = data.hpf;
            document.getElementById('threshold').value = data.threshold;
        });

        <!-- i seem to miss something, but that looks like a dynamic adding of devices to select -->
        socket.on('new_device', (device) => {
            const deviceSelect = document.getElementById('deviceSelect');
            const option = document.createElement('option');
            option.value = device.device_id;
            option.text = `Device ${device.device_id}`;
            deviceSelect.add(option);
        });

        const canvas1 = document.getElementById('signalCanvas1');
        const canvas2 = document.getElementById('signalCanvas2');
        const canvas3 = document.getElementById('signalCanvas3');


        const ctx1 = canvas1.getContext('2d');
        const ctx2 = canvas2.getContext('2d');
        const ctx3 = canvas3.getContext('2d');


        [canvas1, canvas2, canvas3].forEach(canvas => {
            canvas.width = canvas.offsetWidth;
            canvas.height = canvas.offsetHeight;
        });

        function drawSignal(ctx, signal, color) {
            ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);
            ctx.lineWidth = 0.8;
            ctx.beginPath();
            ctx.strokeStyle = color;

            const step = ctx.canvas.width / signal.length;
            const height = ctx.canvas.height;
            const middle = height / 2;
            const scale = height / 2;

            // Draw the signal line
            for (let i = 0; i < signal.length; i++) {
                const x = i * step;
                const y = middle - (signal[i] * scale);
                if (i === 0) {
                    ctx.moveTo(x, y);
                } else {
                    ctx.lineTo(x, y);
                }
            }
            ctx.stroke();

            // Draw the y-axis
            ctx.lineWidth = 1;
            ctx.strokeStyle = 'black';
            ctx.beginPath();
            ctx.moveTo(0, 0);
            ctx.lineTo(0, height);
            ctx.stroke();

            // Draw the x-axis
            ctx.beginPath();
            ctx.moveTo(0, middle);
            ctx.lineTo(ctx.canvas.width, middle);
            ctx.stroke();
        }


        socket.on('realtime_signal', (data) => {
            if (data.device_id === parseInt(selectedDeviceId)) {
                drawSignal(ctx1, data.signal[0], 'red');
                drawSignal(ctx2, data.signal[1], 'green');
                drawSignal(ctx3, data.signal[2], 'blue');

            }
        });

        function clearCanvases() {
            ctx1.clearRect(0, 0, canvas1.width, canvas1.height);
            ctx2.clearRect(0, 0, canvas2.width, canvas2.height);
            ctx3.clearRect(0, 0, canvas3.width, canvas3.height);

        }

        // Clear canvases initially
        clearCanvases();
    </script>
</body>
</html>
